QPushButton#login_btn
{
	color:white;
	background-color:rgb(14 , 150 , 254);
	border-radius:5px;
    min-height: 30px;
}

QPushButton#login_btn:hover
{
	color:white;
	background-color:rgb(44 , 137 , 255);
}

QPushButton#login_btn:pressed
{
	color:white;
	background-color:rgb(14 , 135 , 228);
	padding-left:3px;
	padding-top:3px;
}
QLineEdit
{
	background:white;
    padding-left:5px ;
	padding-top:1px ;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
	border: 1px solid rgb(209 , 209 , 209);
    border-top:transparent;
    min-height: 25px;
}
QLineEdit:hover
{
	padding-top:0px ;
    border: 1px solid rgb(21 , 131 , 221);
}
QPushButton#register_btn
{
	color:rgb(38 , 133 , 227);
	background-color:transparent;
}

QPushButton#register_btn:hover
{
	color:rgb(97 , 179 , 246);
}

QPushButton#register_btn:pressed
{
	color:rgb(0 , 109 , 176);
}

QPushButton#forget_btn
{
	color:rgb(38 , 133 , 227);
	background-color:transparent;
}

QPushButton#forget_btn:hover
{
	color:rgb(97 , 179 , 246);
}

QPushButton#forget_btn:pressed
{
	color:rgb(0 , 109 , 176);
}
